<html>
<head>  
<title>upload</title>  
</head>  
<body>  

Top characters associated with each emotion<br>
<table>
{% for key in emotion_keys %}
<tr>
	<td>{{key}} : </td>
	{% for j in emotion_list[key] %}
		<td>{{j}}</td>
	{% endfor %}
</tr>
{% endfor %}
</table>
<br><br>


Top characters associated with persona features
<table>
{% for key in language_keys %}
<tr>
	<td>{{key}} : </td>
	{% for j in language_list[key] %}
		<td>{{j}}</td>
	{% endfor %}
</tr>
{% endfor %}
</table>
<br><br>


Top  characters associated with each social characteristic<br>
<table>
{% for key in social_keys %}
<tr>
	<td>{{key}} : </td>
	{% for j in social_list[key] %}
		<td>{{j}}</td>
	{% endfor %}
</tr>
{% endfor %}
</table>
</body>  
</html>
