<html>
<head>  
<title>upload</title>  
</head>  
<body>    
<form action = "\logout" method = "post" position = "right">
	<input type = "submit" value = "Logout" />
</form>
<form action = "/personality_profiling" method = "post" enctype="multipart/form-data">
    <input type = "submit" value="Personality profiling">  
</form> 
<form action = "/choose_characters" method = "post" enctype = "multipart/form-data">
	<input type = "submit" value = "Character networks">
</form> 
<form action = "/network_graph" method = "post" enctype = "multipart/form-data">
	<input type = "submit" value = "Network Graph">
</form> 
</body>  
</html>
